include mixins/api_mixins.jade

h1 User Interface

p Call2Arms API already includes various language packs and translations for the user interfaces. The combination of the specific language pack and the content in the same language allows you to build an application in any language you like.
p: i: b Important:
p: i The result JSON of <tt>"Get user interface values"</tt> request includes list of the all predefined messages (<tt>"actions"</tt> field) that the client application should send to server as raider response (see <tt>"Send response"</tt> in the section <tt>"Response"</tt>).

//- GET /v1/ui
.api.panel.panel-primary
  +section_head()
    <b>Get</b> supported languages
  +section_desc()
    p This method returns all the language codes that are supported by Call2Arms API.
  +section_spec()
    +li_request('GET http://api.call2arms.net/v1/ui')
    +li_response()
      +response_header()
      +response('200 OK')
        p API server returns JSON that contains an array of all supported languages.
        p: i: b Important:
        p: i Language code (<tt>"lang"</tt>) is used in <tt>"Get user interface values"</tt> method (see below).
        +json('GET http://api.call2arms.net/v1/ui', '', '/v1/ui', 'GET', '{}')
      +response_400()
      +response_429()
      +response_500()

//- GET /v1/ui/:lang
.api.panel.panel-primary
  +section_head()
    <b>Get</b> user interface values
  +section_desc()
    p This method returns all interface values for the specified language code.
    p It also returns the list of the all predefined messages (<tt>"actions"</tt> field) that the client application should send to server as raider response.
  +section_spec()
    +li_request('GET http://api.call2arms.net/v1/ui/:lang')
    +li_parameters()
      +fields_header()
      +field_lang()
    +li_response()
      +response_header()
      +response('200 OK')
        p API server returns JSON data that contains an array of user interface texts, messages and identifiers for specified language.
        p: i: b Important:
        p: i The result JSON includes list of the all predefined messages (<tt>"actions"</tt> field) that the client application should send to server as raider response (see <tt>"Send response"</tt> method below).
        +json('GET http://api.call2arms.net/v1/ui/en-US', '', '/v1/ui/en-US', 'GET', '{}')
      +response_400()
      +response_inline('404 Not found', 'Not all parameters given. Or specified language is not supported.')
      +response_429()
      +response_500()