include mixins/api_mixins.jade

h1 Response

p When Raider application receive a summon or message request via callback, it can response to this request with a predefined message. Response will be sends to all Raid Leaders which are waiting for this Raider.
p When you send predefined <tt>"actionId"</tt>, message will be taken from UI pack (<tt>"title"</tt> field). The list of the all predefined messages returns by <tt>"Get user interface values"</tt> request (see <tt>"response/actions"</tt> and <tt>"request/actions"</tt> fields).
p After accepting a response at the server-side, you can't send another response for same request. Client application will get a callback request for another summon or message request.

//- POST /v1/callsign/:callsign/response/:channelId
.api.panel.panel-primary
  +section_head()
    <b>Send</b> response
  +section_desc()
    p This method sends response from Raider (<tt>"callsign"</tt>) to Call2Arms server. Response contains the specified message ID (<tt>"actionId"</tt>) or custom <tt>"message"</tt>.
  +section_spec()
    +li_request('POST http://api.call2arms.net/v1/response')
    +li_parameters()
      +fields_header()
      +field_callsign()
      +field_authkey()
      +field_actionId()
      +field_message()
    +li_response()
      +response_header()
      +response('200 OK')
        p Response accepted
        +json('POST http://api.call2arms.net/v1/response', '< callsign=JohnDoe, authkey=0123456789abcdef0123456789abcdef, actionId=response-1', '/v1/response/', 'POST', '{"callsign": "JohnDoe", "authkey": "0123456789abcdef0123456789abcdef", "actionId": "response-1", "_test": 1}')
      +response_403()
      +response_inline('404 Not found', 'Not all parameters given. Or specified response request is not registered.')
      +response_inline('422 Unprocessable Entity', 'The specified callsign or response parameters are wrong.')
      +response_429()
      +response_500()