include mixins/api_mixins.jade

h1 Some words about callbacks

p When a message or summon request is received, Call2Arms will notify the callback URL. The parameters will be supplied in a http POST request. The callback url is limited to 255 characters in length. 
p: i: b Expected Response:
p: i In order to acknowledge successful processing of the callback the server should respond with the text "*ok*". If the server responds with anything else the callback will be resent again up to 5 times.
h1 Callback data
.content: table.table
  tr
    th Parameter
    th Description
  tr
    td: code UID
    td Unique request ID
  tr
    td: code action
    td Always "request"
  tr
    td: code callsign
    td Raider callsign
  tr
    td: code actionId
    td Message ID from list of the all predefined messages.
  tr
    td: code message
    //-td Custom message text from raid leader.
    td Ignored (must be empty)
