h1 Welcome
p By using Call2Arms API you can create your own full Call2Arms client for any OS platform.
p Call2Arms API is based on work with REST requests, where each request or response looks like a request to a specific URL with parameters.
p In general, Call2Arms API can be divided into 4 sections:
ol
	li
		p
			b: a(href='/doc#/api-ui') User Interface
			|  (multilanguage support)
	li
		p
			b: a(href='/doc#/api-callsign') Callsign
			|  (working with users' callsigns)
	li
		p
			b: a(href='/doc#/api-callback') Callback
			|  (callback to your application)
	li
		p
			b: a(href='/doc#/api-response') Response
			|  (working with raiders' responses)

p While working with Call2Arms API you need to specify URL-address of the node that will be the entry point for Call2Arms <a href='/doc#/api-callback'>Callback service</a>.<br />API will send messages to this address and you can broadcast them to your application, e.g. via Push Notifications.
p We assume the following abstract scheme of the process:
p
	img(src='/img/scheme.png', style='margin: 20px;')
ol
	li: p Mobile Devices sends request and receives User Interface from API
	li: p Raider creates Callsign via Mobile Device and tells Callsign to Raid Leader
	li: p When Raid Leader sends message to Raider, Call2Arms API sends this message to specified URL-address via Callback.
	li: p Your mobile application receives the message from your URL-address.
	li: p After that Raider sends response message to Raid Leader. The status of this response also returns via Callback.
p
hr
p Of course, you can do it differently, not only for mobile devices...
hr
p You can use Call2Arms <a href='/press-kit/'>visual elements</a> in your application, but please remember about <a href='/developer-agreement'>Developer Agreement</a>.

hr

p: i Send us an <a href='mailto:info@call2arms.net'>e-Mail</a> about your application and we will post a link to it at the <a href='/'>Call2Arms start page</a>.
p: i And if you have any questions we are ready to respond to them also by <a href='mailto:info@call2arms.net'>e-Mail</a>.
p
	i
		b e-Mail:&nbsp;
		a(href='mailto:info@call2arms.net') info@call2arms.net