include mixins/api_mixins.jade

h1 When a client intercepts HTTP error codes
p One common thing in some versions of Adobe Flash &mdash; if you send an HTTP response that is anything other than HTTP 200 OK, the Flash container intercepts that response and puts the error code in front of the end user of the app. Therefore, the app developer doesn't have an opportunity to intercept the error code. App developers need the API to support this in some way.
p So, we have an optional parameter <tt>"suppressResponseCodes"</tt>. If <tt>"suppressResponseCodes"</tt> is set to true, the HTTP response is always 200.
p: code /request?suppressResponseCodes=true
p: code HTTP status code: 200
p: code {"status": "400", "statusMessage": "Error message"}

h1 When a client supports limited HTTP methods
p To maintain the integrity of the four HTTP methods, you can use the optional parameter <tt>"method"</tt> in the URL.
p In this case HTTP verb is always a GET but you can express rich HTTP verbs and still maintain a RESTful clean API.
br
.content: table.table
  tr
    th RESTful
    th Value
    th Request example
  tr
    td Create
    td: tt post
    td: code GET /callsign?method=post&...
  tr
    td Read
    td
    td: code GET /callsign
  tr
    td Update
    td: tt put
    td: code GET /callsign/1234?method=put&location=park&...
  tr
    td Delete
    td: tt delete
    td: code GET /callsign/1234?method=delete