include mixins/api_mixins.jade

h1 Callsign

p Every <b>Raider</b> in Call2Arms have a callsign. If <b>Raid Leader</b> want to summon raider or send him a message, it should to specify the raider callsign.
p: i: b Important:
p: i Callsign have a 1-hour TTL (time-to-live). Client application can extend this time-to-live by sending <tt>"Update callSign TTL (time-to-live)"</tt> request.

//- POST /v1/callsign/:callsign
.api.panel.panel-primary
  +section_head()
    <b>Register</b> new callsign
  +section_desc()
    p This method creates the new raider callsign (that raider specified in client application) with specified callback URL.
  +section_spec()
    +li_request('POST http://api.call2arms.net/v1/callsign')
    +li_parameters()
      +fields_header()
      +field_callsign()
      +field_callbackUrl()
    +li_response()
      +response_header()
      +response('200 OK')
        p Callsign registered successfully. Server returns Authentication Key (<tt>"authkey"</tt>) for created callsign.
        +json('POST http://api.call2arms.net/v1/callsign', '< callsign=JohnDoe, callbackUrl=http://localhost.com', '/v1/callsign', 'POST', '{"callsign": "JohnDoe", "callbackUrl": "http://localhost.com", "_test": 1}')
      +response_inline('409 Conflict', 'The specified callsign already registered in the server.')
      +response_inline('422 Unprocessable Entity', 'The specified callsign or callback URL are wrong.')
      +response_429()
      +response_500()

//- GET /v1/callsign/:callsign
.api.panel.panel-primary
  +section_head()
    <b>Test</b> callsign for existence
  +section_desc()
    p This method returns the success JSON if the specified callsign is exists.
  +section_spec()
    +li_request('GET http://api.call2arms.net/v1/callsign/:callsign')
    +li_parameters()
      +fields_header()
      +field_callsign()
    +li_response()
      +response_header()
      +response('200 OK')
        p API server returns the success JSON of the specified callsign.
        +json('GET http://api.call2arms.net/v1/callsign/JohnDoe', '', '/v1/callsign/JohnDoe?_test=1', 'GET', '{}')
        //- code {created: ..., lastModified: ..., ttl: ...}
      +response_400()
      +response_inline('404 Not found', 'The specified callsign isn\'t registered in the server.')
      +response_inline('422 Unprocessable Entity', 'The specified callsign is wrong.')
      +response_429()
      +response_500()

//- GET /v1/callsign/:callsign
.api.panel.panel-primary
  +section_head()
    <b>Get</b> callsign parameters
  +section_desc()
    p This method returns the parameters of the specified callsign.
  +section_spec()
    +li_request('GET http://api.call2arms.net/v1/callsign/:callsign')
    +li_parameters()
      +fields_header()
      +field_callsign()
      +field_authkey()
    +li_response()
      +response_header()
      +response('200 OK')
        p API server returns the parameters of the specified callsign as JSON.
        p JSON also contains request data, if somebody already sent request to this callsign.
        +json('GET http://api.call2arms.net/v1/callsign/JohnDoe?authkey=0123456789abcdef0123456789abcdef', '', '/v1/callsign/JohnDoe?authkey=0123456789abcdef0123456789abcdef&_test=1', 'GET', '{}')
        //- code {created: ..., lastModified: ..., ttl: ...}
      +response_400()
      +response_403()
      +response_inline('404 Not found', 'The specified callsign isn\'t registered in the server.')
      +response_inline('422 Unprocessable Entity', 'The specified callsign is wrong.')
      +response_429()
      +response_500()

//- PUT /v1/callsign/:callsign
.api.panel.panel-primary
  +section_head()
    <b>Update</b> callsign TTL (time-to-live)
  +section_desc()
    p This method updates (prolonges) the TTL of the specified callsign (API server adds 1 hour to the current time). Thus, you can prolong the lifetime of the callsign if necessary.
    p: i: b Important:
    p: i When the TTL expires, callsign registration will be automatically deleted from the server. But good practice is to release callsign by using <tt>"Release callsign"</tt> method (see below).
  +section_spec()
    +li_request('PUT http://api.call2arms.net/v1/callsign/:callsign')
    +li_parameters()
      +fields_header()
      +field_callsign()
      +field_authkey()
      +field_mode_ttl()
    +li_response()
      +response_header()
      +response('200 OK')
        p Callsign TTL successfully updated.
        +json('PUT http://api.call2arms.net/v1/callsign/JohnDoe', '< authkey=0123456789abcdef0123456789abcdef, mode=ttl', '/v1/callsign/JohnDoe', 'PUT', '{"authkey": "0123456789abcdef0123456789abcdef", "mode": "ttl", "_test": 1}')
        //- code {created: ..., lastModified: ..., ttl: ...}
      +response_403()
      +response_inline('404 Not found', 'The specified callsign isn\'t registered in the server.')
      +response_inline('422 Unprocessable Entity', 'The specified callsign or mode are wrong.')
      +response_429()
      +response_500()

//- PUT /v1/callsign/:callsign
.api.panel.panel-primary
  +section_head()
    <b>Update</b> callsign Callback URL
  +section_desc()
    p This method updates the callback URL of the specified callsign. Callback URL must be a valid HTTP URL.
  +section_spec()
    +li_request('PUT http://api.call2arms.net/v1/callsign/:callsign')
    +li_parameters()
      +fields_header()
      +field_callsign()
      +field_authkey()
      +field_mode_callback
      +field_callbackUrl()
    +li_response()
      +response_header()
      +response('200 OK')
        p Callback URL of the specified callsign has been successfully updated.
        +json('PUT http://api.call2arms.net/v1/callsign/JohnDoe', '< authkey=0123456789abcdef0123456789abcdef, mode=callback, callbackUrl=http://localhost.com', '/v1/callsign/JohnDoe', 'PUT', '{"authkey": "0123456789abcdef0123456789abcdef", "mode": "callback", "callbackUrl": "http://localhost.com", "_test": 1}')
        //- code {created: ..., lastModified: ..., ttl: ...}
      +response_403()
      +response_inline('404 Not found', 'The specified callsign isn\'t registered in the server.')
      +response_inline('422 Unprocessable Entity', 'The specified callsign, mode or callback URL are wrong.')
      +response_429()
      +response_500()

//- DELETE /v1/callsign/:callsign
.api.panel.panel-primary
  +section_head()
    <b>Release</b> callsign
  +section_desc()
    p This method releases the specified callsign and all its callbacks.
    p Application should call this method when user exists from it, changes callsign, etc.
  +section_spec()
    +li_request('DELETE http://api.call2arms.net/v1/callsign/:callsign')
    +li_parameters()
      +fields_header()
      +field_callsign()
      +field_authkey()
    +li_response()
      +response_header()
      +response('200 OK')
        p CallSign successfully released.
        +json('DELETE http://api.call2arms.net/v1/callsign/JohnDoe?authkey=0123456789abcdef0123456789abcdef', '', '/v1/callsign/JohnDoe?authkey=0123456789abcdef0123456789abcdef&_test=1', 'DELETE', '{}')
      +response_403()
      +response_inline('404 Not found', 'The specified callsign isn\'t registered in the server.')
      +response_inline('422 Unprocessable Entity', 'The specified callsign is wrong.')
      +response_429()
      +response_500()