div(style="position: relative; z-index: 1000;")
  .response(ng-show='incoming', class=['animate-show', 'top'])
    .inner
      .panel(class=['panel-default'])
        .panel-heading {{ui.titles.response}}
        .panel-body
          div(ng-bind-html='incomingMessage')
        .panel-footer
          button(ng-click='closeIncoming()', type='button', class=['btn', 'btn-danger', 'btn-xs']) {{ui.buttons.close}}

form#invite(role='form', name='summonForm')
    .callsignInput
        input#callsign(ng-model='$parent.callsign',
                       ng-enter='summonUser()',
                       required,
                       ng-minlength='6',
                       ng-maxlength='64',
                       ng-disabled='processing'
                       name='callsign',
                       type='text',
                       data-toggle='tooltip',
                       data-placement='top',
                       tooltip='{{ui.callsign.mask}}',
                       tooltip-trigger="focus",
                       placeholder='{{ui.callsign.placeholder}}',
                       class=['form-control', 'input-lg'])
    .alert(class=['alert-dismissable', 'animate-show'], ng-show="error", ng-class="errorClass")
        button(type='button', class='close', data-hide='alert', aria-hidden='true') &times;
        | {{errorMessage}}
    .status(ng-show='processing', class=['animate-show'])
        .message(ng-bind-html='processedMessage')
        .progress(class=['progress-striped', 'active'])
            .progress-bar(class=['progress-bar-success'],
            role='progressbar',
            aria-valuenow='100',
            aria-valuemin='0',
            aria-valuemax='100',
            style='width: 100%')
            span.sr-only '45% Complete'
        .message.wait: {{waitMessage}}
    table.btns
        tr()
            td: button(ng-disabled='!summonForm.callsign.$valid || processing',
                       ng-click='summonUser()',
                       type='button',
                       class=['btn' ,'btn-primary'], style='padding-left: 0;')
                i(class=['glyphicon', 'glyphicon-flash'])
                | {{ui.request.actions[0].title}}
            td: .btn-group
                button(ng-disabled='!summonForm.callsign.$valid || processing',
                       type='button',
                       class=['btn' ,'btn-default', 'dropdown-toggle'], style='padding-right: 0;',
                       data-toggle='dropdown')
                    | {{ui.buttons.message}}
                    i(class=['glyphicon', 'glyphicon-send'])
                ul.dropdown-menu.pull-right(role='menu')
                    li(ng-repeat='action in ui.request.actions', ng-show='!$first'): a(ng-click='sendMessage(action.id, action.title)', href='') {{action.title}}
                    //-li.divider
                    //-li: a(ng-click='sendMessage()', href='') Separated link