mixin section_head()
  .section.panel-heading(data-expanded='0')
    i.mark.glyphicon.glyphicon-expand
    block

mixin section_desc()
  .desc.panel-body(style='display: none')
    block

mixin section_spec()
  ul.spec.list-group(style='display: none')
    block

mixin li_request(url)
  li.list-group-item
    p.title Request URL:
    .content: p: code= url

mixin li_parameters()
  li.list-group-item
    p.title Parameters:
    .content: table.table
      block

mixin li_response()
  li.list-group-item
    p.title Response codes:
    .content: table.table
      block

mixin json(url, postParams, urlJson, mode, data)
  .json-well: .well
    p Demo request:
    p: tt= url
    if postParams
      p: tt= postParams
    p JSON result:
    pre: code.code(data-json=urlJson, data-mode=mode, data-data=data)

mixin fields_header
  tr
    th.name Parameter name
    th.type Type
    th.desc Description

mixin field_lang
  tr
    td lang
    td UTF-8 String
    td
      p Language code (e.g.: "en-US", "ru-RU", etc).
      p This is the <tt>"lang"</tt> field in <tt>"Get supported languages"</tt> method (see above).

mixin field_callsign
  tr
    td callsign
    td UTF-8 String
    td
      p Raider callsign.
      p: i: b Restrictions:
      p: i Callsign must consists only of the latin characters <tt>a-zA-Z</tt>, digits <tt>0-9</tt>, symbols <tt>()_-!$@</tt> and space.
      p: i Minimal length: 6 characters, maximum: 64 characters.

mixin field_authkey
  tr
    td authkey
    td UTF-8 String
    td
      p Authentication Key for specified callsign.
      p This is the <tt>"authkey"</tt> field in JSON result for <tt>"Register new callsign"</tt> method (see above).

mixin field_callbackUrl
  tr
    td callbackUrl
    td UTF-8 String
    td
      p Callback URL.
      p The callback URL to be notified when a message for raider is received.
      p: i: b Restrictions:
      p: i Callback URL is limited to 255 characters in length and must be a valid HTTP URL.
      p: i: b Expected Response
      p: i In order to acknowledge successful processing of the callback the server should respond with the text "*ok*". If the server responds with anything else the callback will be resent again every 1 minute up to 15 times (15 minutes).

mixin field_actionId
  tr
    td actionId
    td UTF-8 String
    td
      p Message ID from list of the all predefined messages
      p The result JSON of <tt>"Get user interface values"</tt> request includes list of the all predefined messages (<tt>"actions"</tt> field) that the client application should send to server as raider response (see <tt>"Send response"</tt> method below).

mixin field_message
  tr
    td message<br><br><i>(optional field)</i>
    td UTF-8 String
    td
      p Ignored (must be empty)
      //- p Custom message text from raider.
      //- p: i: b Restrictions:
      //- p: i Maximum length: 255 UTF-8 characters.

mixin field_mode_ttl
  tr
    td mode
    td UTF-8 String
    td <tt>"ttl"</tt> constant

mixin field_mode_callback
  tr
    td mode
    td UTF-8 String
    td <tt>"callback"</tt> constant

mixin response_inline(code, message)
  tr
    td= code
    td: p= message

mixin response(code)
  tr
    td= code
    td
      block

mixin response_header
  tr
    th.name HTTP Code
    th.desc Description

mixin response_400
  tr
    td 400 Bad Request
    td: p The request cannot be fulfilled due to bad syntax.

mixin response_403
  tr
    td 403 Forbidden
    td: p The specified Authentication Key (<tt>"authkey"</tt> field) is invalid.

mixin response_429
  tr
    td 429 Too many request
    td
      p There's too many requests per seconds from the same IP address.
      p Client application should pause the requests (for about 60 seconds).

mixin response_500
  tr
    td 500 Internal server error
    td: p A generic error message, given when an unexpected condition was encountered.