mixin icons()
	link(rel='icon', href='/favicon.png?v=2', type='image/png')
	link(rel='shortcut icon', href='/favicon.ico?v=2')
	link(rel='apple-touch-icon', href='/icns/touch-icon-iphone.png')
	link(rel='apple-touch-icon', sizes='76x76', href='/icns/touch-icon-ipad.png')
	link(rel='apple-touch-icon', sizes='120x120', href='/icns/touch-icon-iphone-retina.png')
	link(rel='apple-touch-icon', sizes='152x152', href='/icns/touch-icon-ipad-retina.png')
	meta(name='apple-mobile-web-app-capable', content='yes')
	meta(name='apple-mobile-web-app-status-bar-style', content='black')
	meta(name='mobile-web-app-capable', content='yes')