mixin share()
	//-.share
		//-a.addthis_button(href="http://www.addthis.com/bookmark.php?v=300&amp;pubid=ra-533587ae4041152c")
		//-	img(src="http://s7.addthis.com/static/btn/v2/lg-share-en.gif", width="125", height="16", alt="Bookmark and Share", style="border:0")
		//-script(type="text/javascript") var addthis_config = {"data_track_addressbar":true};
		//-script(type="text/javascript", src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-533587ae4041152c")

	.share-wrapper
		.share.addthis_toolbox.addthis_default_style.addthis_32x32_style
			a.addthis_button_facebook
			a.addthis_button_twitter
			a.addthis_button_pinterest_share
			a.addthis_button_reddit
			//-a.addthis_button_google_plusone_share
			//-a.addthis_button_pocket
			a.addthis_button_compact
		script(type="text/javascript") var addthis_config = {"data_track_addressbar":true};
		//-script(type="text/javascript", src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-533587ae4041152c")

mixin og-title()
	meta(name='description', content="This is a tool to stay anonymously connected with the raider when raid is congregating too much time and you don't have a time to be bored near a computer")
	meta(property='og:url', content='http://call2arms.net/')
	meta(property='og:title', content='Call2Arms')
	meta(property='og:description', content="This is a tool to stay anonymously connected with the raider when raid is congregating too much time and you don't have a time to be bored near a computer")
	meta(property='og:image', content='http://call2arms.net/img/share/og-image-facebook.jpg')
	meta(property='og:image:type', content='image/jpeg')
	meta(property='og:image:width', content='1200')
	meta(property='og:image:height', content='630')
	link(rel='image_src', href='http://call2arms.net/img/share/og-image-facebook.jpg')

mixin og-title-ru()
	meta(name='description', content='Инструмент для анонимной связи с рейдером, когда рейд очень долго собирается, а вам некогда скучать у компьютера')
	meta(property='og:url', content='http://call2arms.net/')
	meta(property='og:title', content='Call2Arms')
	meta(property='og:image', content='http://call2arms.net/img/share/og-image-facebook.jpg')
	meta(property='og:description', content='Инструмент для анонимной связи с рейдером, когда рейд очень долго собирается, а вам некогда скучать у компьютера')
	meta(property='og:image:type', content='image/jpeg')
	meta(property='og:image:width', content='1200')
	meta(property='og:image:height', content='630')
	link(rel='image_src', href='http://call2arms.net/img/share/og-image-facebook.jpg')
