@font-face {
  font-family: 'pt_sans_narrowregular';
  src: url('/fonts/PTN57F-webfont.eot');
  src: url('/fonts/PTN57F-webfont.eot?#iefix') format('embedded-opentype'),
  url('/fonts/PTN57F-webfont.woff') format('woff'),
  url('/fonts/PTN57F-webfont.ttf') format('truetype'),
  url('/fonts/PTN57F-webfont.svg#pt_sans_narrowregular') format('svg');
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing:antialiased;
}

@font-face {
  font-family: 'pt_sans_narrowregular';
  src: url('/fonts/PTN77F-webfont.eot');
  src: url('/fonts/PTN77F-webfont.eot?#iefix') format('embedded-opentype'),
  url('/fonts/PTN77F-webfont.woff') format('woff'),
  url('/fonts/PTN77F-webfont.ttf') format('truetype'),
  url('/fonts/PTN77F-webfont.svg#pt_sans_narrowbold') format('svg');
  font-weight: bold;
  font-style: normal;
  -webkit-font-smoothing:antialiased;

}

// Fonts
h1, h2, .notes, #about, #menu-about, #menu-back {
  font-family: pt_sans_narrowregular, sans-serif !important;
}