// lang
div.lang-wrapper {
  position: relative;
  width: 0;
  height: 0;
  margin: 0 auto;
}
div.lang {
  position: absolute;
  top: -10px;
  left: 260px;
}

@charset "utf-8";
/* CSS Document */


/* ---------------------------------------------------------------------- */
/* "Polyglot" Language Switcher
/* ----------------------------------------------------------------------
Version: 1.4
Author: Ixtendo
Author URI: http://www.ixtendo.com
License: MIT License
License URI: http://www.opensource.org/licenses/mit-license.php
------------------------------------------------------------------------- */


/* ---------------------------------------------------------------------- */
/* TABLE OF CONTENTS
/* ----------------------------------------------------------------------
-Generic
-JS-created Code
------------------------------------------------------------------------- */


/* ---------------------------------------------------------------------- */
/* Generic
/* ---------------------------------------------------------------------- */
#polyglotLanguageSwitcher, #polyglotLanguageSwitcher * {
  margin: 0;
  padding: 0; 
  outline: none;
}

#polyglotLanguageSwitcher ul {
  list-style: none; 
}

#polyglotLanguageSwitcher {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  color: #444;
  line-height: normal;
  position: relative; /* sets the initial position for the drop-down menu */  
  z-index: 200;
}

#polyglotLanguageSwitcher form {
  display: none;  
}

/* ---------------------------------------------------------------------- */
/* JS-created Code
/* ---------------------------------------------------------------------- */
#polyglotLanguageSwitcher a {
  text-decoration: none;
  display: block; 
  padding: 0.5em 6px 0.5em 28px; /* 6px 6px 6px 28px */
  color: #444;
  width: 120px; /* 84px; total width: 120px */
  background-repeat: no-repeat;
  background-position: 6px center; 
  text-align: left;
}

#polyglotLanguageSwitcher a:hover {
  color: #000;  
}

#polyglotLanguageSwitcher a.current:link, #polyglotLanguageSwitcher a.current:visited, #polyglotLanguageSwitcher a.current:active {
  position: relative; /* sets the initial position for the trigger arrow */
  background-color: #FFF;
  border: 1px solid #E5E5E5;
  border-radius: 3px;
  height: 24px; /* 15px */
}

#polyglotLanguageSwitcher ul.dropdown li {
  background-color: #fff;
}

#polyglotLanguageSwitcher a.current:hover, 
#polyglotLanguageSwitcher ul.dropdown li:hover {
  background-color: #F7F7F7;
}

#polyglotLanguageSwitcher a.active { /* This style is applied as long as the drop-down menu is visible. */
  border-bottom: none !important;
  border-radius: 3px 3px 0 0 !important;
}

#polyglotLanguageSwitcher span.trigger {
  display: block;
  position: absolute;
  width: 9px;
  height: 5px;
  text-indent: -10000em;
  top: 0.5em; /* 6px */
  right: 6px;
}

#polyglotLanguageSwitcher a.current:link span.trigger, #polyglotLanguageSwitcher a.current:visited span.trigger {
  background: url(/img/lang/arrow-down.gif) no-repeat left top; 
}

#polyglotLanguageSwitcher a.current:hover span.trigger, #polyglotLanguageSwitcher a.current:active span.trigger, #polyglotLanguageSwitcher a.active span.trigger {
  background-position: left bottom !important;
}

/* Drop-Down Menu */

#polyglotLanguageSwitcher ul.dropdown { 
  display: none;
  position: absolute;
  top: 2.333em; /* 28px */
  left: 0;
  background-color: #FFF;
  border: 1px solid #E5E5E5;
  border-top: none !important;
  border-radius: 0 0 3px 3px;
}

#polyglotLanguageSwitcher ul.dropdown li { 
  border-top: 1px dotted #D4D4D4;
}

#polyglotLanguageSwitcher ul.dropdown li:last-child { 
  border-radius: 0 0 3px 3px;
}

/* Flags */

#en { 
  background-image: url(/img/lang/flags/gb.png);
}

#ru { 
  background-image: url(/img/lang/flags/ru.png);
}

#fr { 
  background-image: url(/img/lang/flags/fr.png);  
}

#de { 
  background-image: url(/img/lang/flags/de.png);  
}

#it { 
  background-image: url(/img/lang/flags/it.png);  
}

#es { 
  background-image: url(/img/lang/flags/es.png);  
}