@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-ms-border-radius: $radius;
	border-radius: $radius;
}

@mixin pos($x, $y) {
	top: $y;
	left: $x;
}

@mixin posz($x, $y, $z) {
	top: $y;
	left: $x;
	z-index: $z;
}

@mixin size($w, $h) {
	width: $w;
	height: $h;
}

@mixin center-horizontal() {
	margin: 0 auto;
}