// Sharing
div.share-wrapper {
  position: relative;
  width: 0;
  height: 0;
  margin: 0 auto;
}
div.share {
  position: absolute;
  z-index: 100;
  top: -16px;
  left: 237px;
  width: 164px;
  margin: 0 auto !important;
  text-align: right;
  .at300b, .at300m {
    width: 32px !important;
    padding: 0 !important;
  }
}