// Vars
@import 'normalize';
@import 'fonts';
@import 'colors';
@import 'share';
@import 'mixins';

body {
  padding: 20px 0 0 0;
  overflow-y: scroll;
}

// Top header
#top-doc {
  @include size(1150px, 65px);
  @include center-horizontal();
  text-align: left;
  background-color: $blueclr;
  @include border-radius(5px);
  #logo {
    @include size(250px, 53px);
    position: relative;
    @include posz(0, 5px, 101);
  }
  h1 {
    color: #fff;
    padding: 14px 0 0 0;
    margin: 0;
    font-size: 32px;
  }
  div.share {
    @include pos(400px, 13px);
    border: 2px solid #fff;
  }
}

// Common structure
table.doc {
  width: auto;
  margin: 0 auto;
  td {
    padding: 0 2em;
    text-align: left;
    vertical-align: top;
    &.toc {
      width: 224px;
    }
    &.content {
      width: 970px;
    }
  }
}

// Navigation
.nav {
  padding-top: 10px;
  a {
    color: #999;
    padding: 5px 15px !important;
    &.active {
      color: #000;
      &:before {
        content: url('/img/mark.png');
        margin-left: -10px;
      }
    }
  }
}

// API
.content {
  h1 {
    margin-bottom: 16px;
  }
  p {
    font-size: 13px;
    line-height: 18px;
  }
}
.api {
  .section {
    cursor: pointer;
    padding: 5px 15px;
    color: #c4daed;
    font-style: italic;

    // Icon
    i { margin-right: 1em; }

    b, i {
      color: #fff;
      font-weight: normal;
      font-style: normal;
    }
  }
  table.table {
    border-top: none !important;
    width: auto;
    th {
      border-top: none !important;
      width: auto;
      &.name { width: 14em !important; white-space: nowrap; }
      &.type { width: 12em !important; }
      &.desc { width: auto !important; }
    }
    th, td {
      padding: 12px !important;
    }
    td:first-of-type {
      color: #357EBD;
      font-size: 0.75em;
      font-family: "Courier New", Courier, monospace !important; 
      white-space: nowrap;
    }
  }
  .content {
    padding-left: 2em;
    display: block;
  }
  .json-well {
    width: 45em;
    margin-top: 1em;
    .well { padding: 1em; background: none !important; background-color: #fafafa !important; border-radius: 0 !important;}
  }
  .title {
    font-style: italic;
    color: #777;
    font-size: 0.9em;
  }
}

.panel {
  margin-bottom: 5px !important;
}

tt, code {
  /* color: #357EBD; */
  color: #428bca;
  font-family: "Courier New", Courier, monospace !important; 
}

.hl {
  border-top: 1px solid $gridclr;
  height: 1px;
  position: relative;
  top: 30px;
  z-index: 100;
  max-width: 800px;
  margin: 0 auto;
  padding: 30px 0;
}

.contacts {
  width: 700px;
  margin: 0 auto;
  font-size: 16px;
  line-height: 16px;
  font-family: pt_sans_narrowregular, sans-serif !important;
  text-align: left;
  padding-left: 7px;
  margin-bottom: 2em;
}