@import 'normalize';
@import 'fonts';
@import 'colors';
@import 'share';
@import 'mixins';
@import 'lang';
@import 'addtohomescreen';
@import 'introjs.min';

// CSS reset
body {
  padding: 0 0 50px 0;
}
td {
  text-align: left;
  vertical-align: top;
}
button .glyphicon {
  margin: 0 5px;
}
ol {
  padding-left: 1.2em;
}
li {
  text-align: left;
}
h1, h2, .notes, p {
  font-size: 18px;
  color: $headclr !important;
}
h1 {
  margin: 10px 0 20px 0 !important;
}
h2 {
  font-size: 24px !important;
  margin: 10px 0 !important;
}
p {
  font-size: 18px !important;
}
.alert, button {
  font-family: pt_sans_narrowregular, sans-serif !important;
  font-size: 18px;
  margin: 10px auto;
}
.alert {
  padding: 10px 35px 10px 10px !important;
}
.btn {
  font-size: 18px !important;
}
.btn-lg {
  font-size: 22px !important;
  line-height: 22px !important;
  padding: 15px !important;
}
.btn-xs {
  font-size: 16px !important; 
  line-height: 16px !important;
  padding: 3px 20px !important;
}

// Angular expressions
.animate-show {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  z-index: 500;
  &.ng-hide-add,
  &.ng-hide-remove {
    display: block !important;
    -webkit-transform: scaleY(1) translateZ(0px);
    -moz-transform: scaleY(1) translateZ(0px);
    -o-transform: scaleY(1) translateZ(0px);
    transform: scaleY(1) translateZ(0px);
    position: static;
  }
  &.ng-hide {
    opacity: 0;
    display: none;
    -webkit-transform: scaleY(0.1) translateZ(0px);
    -moz-transform: scaleY(0.1) translateZ(0px);
    -o-transform: scaleY(0.1) translateZ(0px);
    transform: scaleY(0.1) translateZ(0px);
    position: absolute;
  }
}
.top {
  z-index: 1000 !important;
}

// Styles
body {
  color: $textclr;
  background-color: $bgclr;
  padding-top: 30px;
  &.web-mobile {
  	padding-top: 10px;
  	background-color: #fff;
  	div.bgDiv {
  		width: 398px;
  		height: 460px;
  		margin: 0 auto;
  		overflow: hidden;
  		background-color: #fff;
  		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
  	}
  }
  &.show-phone {
  	background-color: #eee;
  	background-image: url('/img/phone-bg-transp.png');
  	background-repeat: no-repeat;
  	background-position: 50% 10px;
  	padding-top: 151px;
  }
}
#top {
  height: 100px;
  text-align: center;
  #logo {
    width: 370px;
    height: 111px;
    position: relative;
    top: 5px;
    z-index: 101;
  }
  .hl {
    border-top: 1px solid $gridclr;
    height: 1px;
    position: relative;
    top: 30px;
    z-index: 100;
    max-width: 800px;
    margin: 0 auto;
    padding: 0;
  }
}
#top-doc {
  height: 65px;
  width: 1150px;
  text-align: left;
  margin: 0 auto;
  background-color: $blueclr;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  #logo {
    width: 250px;
    height: 53px;
    position: relative;
    top: 5px;
    z-index: 101;
  }
  h1 {
    color: #ffffff !important;
    padding: 14px 0 0 0 !important;
    margin: 0 !important;
    font-size: 32px;
  }
}
.hl {
  border-top: 1px solid $gridclr;
  height: 1px;
  position: relative;
  top: 30px;
  z-index: 100;
  max-width: 800px;
  margin: 0 auto;
  padding: 30px 0;
}
#invite {
  margin-bottom: 30px;
  text-align: center;
  width: 300px;
  .callsignInput {
    width: 300px;
    padding-bottom: 5px;
    display: inline-block;
    text-align: center;
    #callsign {
      width: 300px;
      height: 67px;
      font-size: 24px;
      text-align: center;
      border: 1px solid #3275b9;
      color: #000;
      font-family: pt_sans_narrowregular,
      sans-serif !important;
    };
  }
  .status {
    text-align: center;
    .progress {
      width: 300px;
      height: 10px;
      margin: 10px auto;
    }
    .message {
      font-family: pt_sans_narrowregular, sans-serif !important;
      font-size: 16px;
      color: $headclr;
      b { color: $accentclr; font-weight: normal; }
      &.wait {
        font-size: 14px;
        font-style: italic;
      }
    }
  }
  table.btns {
    width: 300px;
    margin: 10px auto;
    td {
      width: 50%;
      button, .btn-group  { width: 100%; }
      padding: 0 2px;
    }
  }
}
table.notes {
  width: 700px;
  margin: 0 auto;
  color: $textclr;
  th, td {
    width: 50%;
    font-weight: normal;
    font-size: 18px;
    &:last-of-type {
      text-align: right;
    }
    ol li {
	  font-size: 16px;
      margin: 0 0 1em 0;
    }
    ol li.compact { margin: 0 !important;}
    padding: 0 10px;
  }
  th:first-of-type,
  td:first-of-type {
    border-right: 1px solid #eee;
  }
  td.developers,
  th.developers,
  td.press-kit,
  th.press-kit,
  td.developer-agreement,
  th.developer-agreement {
    border: none;
  }
  td.press-kit,
  th.press-kit,
  td.developer-agreement,
  th.developer-agreement {
	width: 100% !important;
  }
  td.press-kit {
    p {
      text-align: left;
    }
    .section {
      border: 1px solid #ccc;
      padding: 0.5em;
      background-color: #fafafa;
    }
    .header {
      font-weight: bold;
    }
    td.files {
      width: auto;
      line-height: 24px;
    }
    a.file {
      white-space: nowrap;
      font-size: 16px;
      line-height: 16px;
      padding: 4px;
      border: 1px solid #ccc;
      background-color: #fff;
      margin-right: 5px;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
    }
  }
  td.developer-agreement {
	p {
	  text-align: left;
	}
	p b {
	  color: $accentclr;
	  font-weight: normal;
	}
	ul {
	  list-style-type: none;
	  margin-left: 1.5em;
	  padding-left: 1em;
	  text-indent: -0.85em;
	  li:before {
		content: "– ";
	  }
	}
  }
}
.appBtn {
  display: inline-block;
  width: 302px;
  background-color: #eee;
  font-size: 28px;
  padding: 10px 10px;
  margin-bottom: 20px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  img.google-play-store-logo { margin: -5px 10px 0px 0; }
  color: $textclr;
  &:hover {
    background-color: #ebebeb;
    text-decoration: none;
    color: $textclr;
  }
  /*background-image: linear-gradient(to bottom, #fff 0px, #e0e0e0 100%);*/
  background-color: #fff;
  background-repeat: repeat-x;
  border: 1px solid #ccc;
  /*border-bottom: 3px solid #aaa;*/
  /*text-shadow: 0 1px 0 #FFFFFF;*/
  text-align: center;
}
.addApp {
  a {
    color: #c00;
  }
  font-size: 22px;
  line-height: 24px;
  small {
    font-size: 16px;
    color: $textclr;
    text-decoration: none;
  }
}
.separator {
  display: block;
  margin: 0 auto;
}
#qrcode {
  border-radius: 10px;
  border: 1px solid #bbb;
  background-color: #fff;
  padding: 10px;
  position: absolute;
  left: 50%;
  top: 150px;
  margin-left: 280px;
  width: 220px;
  height: 242px;
  display: none;
  div {
    font-size: 12px;
    line-height: 12px;
    padding: 5px;
    text-align: center;
  }
  &:after  {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 15px 15px 15px 0;
    border-color: transparent #fff;
    display: block;
    width: 0;
    z-index: 1;
    left: -15px;
    top: 120px;
  }
  &:before {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 15px 15px 15px 0;
    border-color: transparent #bbb;
    display: block;
    width: 0;
    z-index: 0;
    left: -16px;
    top: 120px;
  }
}
.response {
  position: relative;
  left: 0;
  top: 0;
  z-index: 1000;
  & .inner {
    position: absolute;
    left: -10px;
    top: -10px;
    background-image: url('/img/bg.png?5');
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 5px;
    width: 320px;
    & .panel {
      width: 100%;
      border: 3px solid #ff8c00;
      margin: 0 !important;
      & .panel-heading {
        font-size: 16px;
        line-height: 16px;
        font-family: pt_sans_narrowregular, sans-serif !important;
        padding: 10px;
        text-align: center;
      }
      & .panel-body {
        text-align: center !important;
        font-size: 24px;
        line-height: 28px;
        font-family: pt_sans_narrowregular, sans-serif !important;
      }
      & .panel-footer {
        text-align: center;
      }
    }
  }
}
.request {
  position: relative;
  left: 0;
  top: 0;
  z-index: 1000;
  & .inner {
    position: absolute;
    left: -30px;
    top: -10px;
    background-image: url('/img/bg.png?5');
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 5px;
    width: 360px;
    & .panel {
      width: 100%;
      border: 3px solid #ff8c00;
      margin: 0 !important;
      overflow: visible !important;
      & .panel-heading {
        font-size: 16px;
        line-height: 16px;
        font-family: pt_sans_narrowregular, sans-serif !important;
        padding: 10px;
        text-align: center;
      }
      & .panel-body {
        text-align: center !important;
        font-size: 24px;
        line-height: 28px;
        font-family: pt_sans_narrowregular, sans-serif !important;
      }
      & .panel-footer {
        text-align: center;
        table.btns {
          width: 100%;
          margin: 10px auto;
          td {
            width: 50%;
            button, .btn-group  { width: 100%; }
            padding: 0 2px;
          }
        }
      }
    }
  }
}
ul.dropdown-menu {
  font-size: 16px !important;
  line-height: 16px;
  font-family: pt_sans_narrowregular, sans-serif !important;
}

#iOsWarnBar {
  z-index: 30000;
  background-color: #FFCC33;
  font-size: 16px;
  line-height: 16px;
  font-family: pt_sans_narrowregular, sans-serif !important;
  text-align: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  border-bottom: 1px solid #000;
  border-top: 1px solid #000;
  padding: 10px 0;
}

// Phone
.web-mobile div.share {
  display: none;
}

.web-mobile div.lang-wrapper {
  position: static;
  width: auto;
  height: auto;
  margin-left: 270px;
}
.web-mobile div.lang {
  position: static;
  display: block !important;
  left: 0;
  top: 0;
}
.show-phone div.lang-wrapper {
  position: relative;
  width: 0;
  height: 0;
  margin: 0 auto;
}
.show-phone div.share {
  display: block !important;
  top: -37px;
  left: 37px;
}
.show-phone div.lang {
  position: absolute;
  display: block !important;
  top: -30px;
  left: 75px;
}

#aboutWrap {
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color:rgba(255,255,255,0.8);
  z-index: 20000;
  #about {
    cursor: default;
    width: 600px;
    height: 720px;
    position: absolute;
    top: 80px;
    left: 50%;
    margin-left: -300px;
    padding: 0px;
    border: 4px solid $blueclr;
    background-color: #ffffff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    &::before {

    }
    h2 {
      border-top: 1px solid $gridclr;
      padding: 20px 20px 10px 20px !important;
      margin: 0 !important;
    }
    p {
      padding: 0 20px 10px 20px !important;
      margin: 0 !important;
      text-align: justify;
      -ms-word-break: break-all;
    word-break: break-all;
 
    word-break: break-word;
 
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
    }
    p.start {
      padding: 10px !important;
      text-align: center;
    }
    p.accent {
      color: $accentclr !important;
    }
    i.closeWnd {
      position: absolute;
      left: 50%;
      margin-left: 280px;
      margin-top: -18px;
      font-size: 36px;
      color: $blueclr !important;
      background-color: #ffffff;
    }
    span.accent {
      color: $accentclr;
    }
    span.accentBlue {
      color: $blueclr;
    }
    img#rocket {
      width: 244px;
      height: 128px;
      position: absolute;
      left: 50%;
      top: 120px;
      margin-left: 120px;
      z-index: 30000;
    }
  }
}

#menu-about {
  display: block;
  position: absolute;
  top: 15px;
  left: 50%;
  margin-left: -380px;
  font-size: 22px;
  color: $accentclr;
}

#menu-back {
  display: block;
  position: absolute;
  top: 15px;
  left: 50%;
  margin-left: -380px;
  font-size: 22px;
  color: $accentclr;
}

.footer-btns {
  position: relative;
  z-index: 1000;
  width: 100%;
  text-align: center;
  font-size: 16px;
  line-height: 16px;
  font-family: pt_sans_narrowregular, sans-serif !important;
  button, a {
	margin: 0 10px;
	height: 57px;
  }
  i {
	margin: 0;
	padding: 0;
  }
}

.introjs-helperNumberLayer {
  width: 22px;
  height: 22px;
  line-height: 13px;
}

.introjs-helperLayer {
  border: 3px solid $blueclr;
}

#android-add-to-homescreen {
  z-index: 30000;
  background-color: #FFCC33;
  font-size: 16px;
  line-height: 16px;
  font-family: pt_sans_narrowregular, sans-serif !important;
  text-align: center;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  border-bottom: 1px solid #000;
  padding: 10px;
}

.contacts {
  width: 700px;
  margin: 0 auto;
  font-size: 16px;
  line-height: 16px;
  font-family: pt_sans_narrowregular, sans-serif !important;
  text-align: center;
  margin-bottom: 2em;
}


.tooltip.in {
  opacity: 0.8 !important;
  filter: alpha(opacity=80) !important;
}

.tooltip > .tooltip-inner {
  max-width: 250px !important;
  padding: 10px;
  font-size: 16px;
  line-height: 16px;
  font-family: pt_sans_narrowregular, sans-serif !important;
  text-align: center;
}

ul.dropdown-menu li {
  font-size: 20px;
}