include partials/mixins/icons.jade
include partials/mixins/share.jade
include partials/mixins/chartbeat.jade
include partials/mixins/contacts.jade
doctype 5
html
	head
		title= 'Call2Arms :: Соглашение Разработчика'
		+cb_start()
		+icons()
		+og-title-ru()
		link(rel='stylesheet', href='/css/style.css')
		link(rel='stylesheet', href='/css/bootstrap.min.css')
		//-link(rel='stylesheet', href='/css/bootstrap-theme.min.css')
		script(data-main='/js/main.min', src='/js/require.min.js')
		meta(name='viewport', content='width=800')
	body()
		#top
			a#menu-back(href='/') < Back to main
			.lang-wrapper
				#polyglotLanguageSwitcher.lang
					form(action='#')
						select#polyglot-language-options
							option#ru(value='ru', selected) Русский
							option#en(value='en') English
			.hl
			a(href='/')
				img.svg#logo(src='/img/logo-flat-cr.svg', data-fallback-src='/img/logo-flat-cr.png', alt='CALL 2 ARMS')
		table.notes(style='margin-top: 1em')
			tr
				th.developer-agreement(style='text-align: left'): h1
					img(src='/img/press-kit.png', style='margin-right: 10px; margin-bottom: 10px;')
					| Соглашение Разработчика
			tr
				td.developer-agreement(style='padding-left: 0.5em; text-align: center;')
					p Используя API и прочие услуги Call2Arms, вы соглашаетесь со следующим.
					p: b Вы можете:
					p
						ul
							li использовать название сайта Call2Arms, визуальный логотип и другие визуальные элементы сервиса Call2Arms.
					p: b Вы можете использовать API и прочие услуги Call2Arms:
					p
						ul
							li для обеспечения связи между игроками в игровых целях;
							li совместно с сервисами других компаний.
					p: b Вы не можете:
					p
						ul
							li позиционировать и описывать свой продукт как официальный или исключительный продукт Call2Arms;
							li вводить пользователя в заблуждение и/или создавать продукт тем или иным образом дискриминирующий сервис Call2Arms.
					p: b Вы не можете использовать API и прочие услуги Call2Arms:
					p
						ul
							li для создания продукта или услуги, которая полностью или частично повторяет функционал сайта call2arms.net, за исключением мобильной версии m.call2arms.net;
							li для предоставления запрещенных услуг или в иных противоправных целях;
							li для распространения ложной информации или ложной рекламы;
							li для рекламы запрещенных товаров и услуг.
					p Администрация сервиса Call2Arms сохраняет за собой право дополнять и/или изменять данное соглашение.
					p Администрация сервиса Call2Arms сохраняет за собой право блокировать доступ к API и прочим сервисам Call2Arms, продуктам и услугам, не соответствующим данному соглашению.
		.hl
		+contacts()
		+cb_finish()