include partials/mixins/icons.jade
include partials/mixins/share.jade
include partials/mixins/chartbeat.jade
include partials/mixins/contacts.jade
doctype 5
html
	head
		title= 'Call2Arms :: App Developer Agreement'
		+cb_start()
		+icons()
		+og-title()
		link(rel='stylesheet', href='/css/style.css')
		link(rel='stylesheet', href='/css/bootstrap.min.css')
		//-link(rel='stylesheet', href='/css/bootstrap-theme.min.css')
		script(data-main='/js/main.min', src='/js/require.min.js')
		meta(name='viewport', content='width=800')
	body()
		#top
			a#menu-back(href='/') < Back to main
			.lang-wrapper
				#polyglotLanguageSwitcher.lang
					form(action='#')
						select#polyglot-language-options
							option#en(value='en', selected) English
							option#ru(value='ru') Русский
			.hl
			a(href='/')
				img.svg#logo(src='/img/logo-flat-cr.svg', data-fallback-src='/img/logo-flat-cr.png', alt='CALL 2 ARMS')
		table.notes(style='margin-top: 1em')
			tr
				th.developer-agreement(style='text-align: left'): h1
					img(src='/img/press-kit.png', style='margin-right: 10px; margin-bottom: 10px;')
					| App Developer Agreement
			tr
				td.developer-agreement(style='padding-left: 0.5em; text-align: center;')
					p When using the Call2Arms API and other Call2Arms services, you agree with the following.
					p: b You can:
					p
						ul
							li use the name of the Call2Arms site, visual logo and other visual elements of Call2Arms.
					p: b You can use Call2Arms API and other Call2Arms services:
					p
						ul
							li for communication between the players in the gaming purposes;
							li together with the services of other companies.
					p: b You cannot:
					p
						ul
							li position and describe your product or service as official or exclusive Call2Arms product or service;
							li mislead the user and/or create a product or service that discriminates Call2Arms.
					p: b You cannot use Call2Arms API and other Call2Arms services:
					p
						ul
							li to create a product or service that is fully or partially similar to functional of call2arms.net, except mobile version m.call2arms.net;
							li to providing of prohibited services or in other unlawful purposes;
							li to disseminate false information or false advertising;
							li to advertise forbidden goods or services.
					p Administration of Call2Arms service reserves the right to supplement and/or modify this agreement.
					p Administration of Call2Arms service reserves the right to block access to API and other Call2Arms services for products and services that do not meet this agreement.
		.hl
		+contacts()
		+cb_finish()