include partials/mixins/icons.jade
include partials/mixins/share.jade
include partials/mixins/chartbeat.jade
include partials/mixins/contacts.jade
doctype 5
html
	head
		title= 'API :: CALL 2 ARMS'
		+cb_start()
		+icons()
		+og-title()
		link(rel='stylesheet', href='/css/bootstrap.min.css')
		link(rel='stylesheet', href='/css/bootstrap-theme.min.css')
		link(rel='stylesheet', href='/css/highlight/styles/arta.css')
		link(rel='stylesheet', href='/css/api.css')
		script(data-main='/js/doc.min', src='/js/require.min.js')
	body()
		#top-doc
			table
				tr
					td(style='width: 250px;')
						a(href='/')
							img.svg#logo(src='/img/logo-normal-flat.svg', data-fallback-src='/img/logo-normal-flat.png', alt='CALL 2 ARMS')
					td(style='width: 650px; text-align: center;')
						a(href='/doc')
							h1 API Specification
		table.doc
			tr
				td.toc
					h1 API Contents
					ul.nav.nav-stacked
						li
							a.toc_item(href='#', data-url='/')
								| Introduction
						li
							a.toc_item(href='#', data-url='/api-ui')
								| User Interface
						li
							a.toc_item(href='#', data-url='/api-callsign')
								| Callsign
						li
							a.toc_item(href='#', data-url='/api-callback')
								| Callback
						li
							a.toc_item(href='#', data-url='/api-response')
								| Response
						li
							a.toc_item(href='#', data-url='/api-ontheside')
								| On the side
				td.content
					div(ng-controller="LoadCtrl", ng-show='isViewLoading', style="padding: 100px;")
						img(src='/img/preloader.gif', style='margin-right: 1em')
						| Loading...
					div(ng-view)
		.hl
		+contacts()
		+cb_finish()