include partials/mixins/icons.jade
include partials/mixins/share.jade
include partials/mixins/chartbeat.jade
include partials/mixins/contacts.jade
doctype 5
html
	head
		title= 'Call2Arms :: Special offer for Developers'
		+cb_start()
		+icons()
		+og-title()
		link(rel='stylesheet', href='/css/style.css')
		link(rel='stylesheet', href='/css/bootstrap.min.css')
		//-link(rel='stylesheet', href='/css/bootstrap-theme.min.css')
		script(data-main='/js/main.min', src='/js/require.min.js')
		meta(name='viewport', content='width=800')
	body()
		#top
			a#menu-back(href='/') < Back to main
			.lang-wrapper
				#polyglotLanguageSwitcher.lang
					form(action='#')
						select#polyglot-language-options
							option#en(value='en', selected) English
							option#ru(value='ru') Русский
			.hl
			a(href='/')
				img.svg#logo(src='/img/logo-flat-cr.svg', data-fallback-src='/img/logo-flat-cr.png', alt='CALL 2 ARMS')
		table.notes(style='margin-top: 1em')
			tr
				th.developers(style='text-align: center'): h1
					img(src='/img/api.png', style='margin-right: 10px; margin-bottom: 10px;')
					| Special Offer for Mobile and Web Developers
			tr
				td.developers(style='padding-left: 0.5em; text-align: center;')
					| Build <b>iOS</b>, <b>Android</b>, <b>Windows Phone</b>, <b>HTML</b> or other application by using:
					div(style='margin: 0.5em 0;') <a href='/doc/'>Call2Arms API Specification</a> and <a href='/developer-agreement'>App Developer Agreement</a>
					| and get it placed at the main page of this site for thousands raiders to download!
		.hl
		+contacts()
		+cb_finish()
