include partials/mixins/icons.jade
include partials/mixins/share.jade
include partials/mixins/chartbeat.jade
include partials/mixins/contacts.jade
doctype 5
html
	head
		title= 'Call2Arms :: Специальное предложение разработчиков'
		+cb_start()
		+icons()
		+og-title-ru()
		link(rel='stylesheet', href='/css/style.css')
		link(rel='stylesheet', href='/css/bootstrap.min.css')
		//-link(rel='stylesheet', href='/css/bootstrap-theme.min.css')
		script(data-main='/js/main.min', src='/js/require.min.js')
		meta(name='viewport', content='width=800')
	body()
		#top
			a#menu-back(href='/') < На главную
			.lang-wrapper
				#polyglotLanguageSwitcher.lang
					form(action='#')
						select#polyglot-language-options
							option#ru(value='ru', selected) Русский
							option#en(value='en') English
			.hl
			a(href='/')
				img.svg#logo(src='/img/logo-flat-cr.svg', data-fallback-src='/img/logo-flat-cr.png', alt='CALL 2 ARMS')
		table.notes(style='margin-top: 1em')
			tr
				th.developers(style='text-align: center'): h1
					img(src='/img/api.png', style='margin-right: 10px; margin-bottom: 10px;')
					| Специальное предложение для мобильных<br />и web-разработчиков
			tr
				td.developers(style='padding-left: 0.5em; text-align: center;')
					| Создайте приложение для <b>iOS</b>, <b>Android</b>, <b>Windows Phone</b>, <b>HTML</b> и пр. используя:
					div(style='margin: 0.5em 0;') <a href='/doc/'>Спецификацию API Call2Arms</a> и <a href='/developer-agreement'>Соглашение Разработчика</a>
					| и ссылка на ее загрузку будет размещена на главной странице сайта!
		.hl
		+contacts()
		+cb_finish()
