include partials/mixins/icons.jade
include partials/mixins/share.jade
include partials/mixins/chartbeat.jade
include partials/mixins/contacts.jade
doctype 5
html
	head
		//-meta(name="google-site-verification", content="NCdNgccs6EwC5-A-YXDvPxMUeI65BG4iRQJbcVNb3xA")
		title= 'Call2Arms :: Connecting Raiders'
		+cb_start()
		+icons()
		+og-title()
		meta(name='apple-mobile-web-app-title', content='Raid Leader')
		link(rel='stylesheet', href='/css/style.css')
		link(rel='stylesheet', href='/css/bootstrap.min.css')
		//-link(rel='stylesheet', href='/css/bootstrap-theme.min.css')
		script(data-main='/js/main.min', src='/js/require.min.js')
		meta(name='viewport', content='width=800')
	body()
		#fb-root
		#top
			a#menu-about(href='#') What is it?
			.lang-wrapper
				#polyglotLanguageSwitcher.lang
					form(action='#')
						select#polyglot-language-options
							option#en(value='en', selected) English
							option#ru(value='ru') Русский
			.hl
			img.svg#logo(src='/img/logo-flat-cr.svg', data-fallback-src='/img/logo-flat-cr.png', alt='CALL 2 ARMS')
		#aboutWrap.closeAbout(style='display: none')
			#about
				img#rocket(src='/img/rocket.png')
				a.closeAbout(href="#")
					i.closeWnd.glyphicon.glyphicon-remove-circle
				h1(style="text-align: center;") Before start&hellip;
				h2 What is Call2Arms?
				p This is a tool to stay anonymously connected with the raider<br />when raid is congregating too much time<br />and you don't have a time to be bored near a computer.
				h2 When to use it?
				p &rarr; When raid going too long or raiders take a break.
				p &rarr; When you <span class="accent">DO NOT WANT to spend</span> all this time by looking at the monitor.
				p &rarr; When you <span class="accent">DO NOT WANT others to know</span> your personal phone number, email, e.t.c.
				p &rarr; And you <span class="accentBlue">WANT to stay connected</span> with the raid, all the time.
				p
				p Register callsign and tell it to raid leader.
				p When raid will be ready, raid leader will send you the message via Call2Arms web site.
				h2 How to use it?
				table(style="width: 100%;")
					tr
						td(style='width: 50%;')
							p.accent For raid leader:
							p Enter the raider callsign. Send him a summon request or a message and wait for an answer from him.
						td
							p.accent For raiders:
							p Start the web-application. Register your callsign and tell it to raid leader.
				p.start(style='margin-top: -20px !important;')
					button.btn.btn-primary.closeAbout(type='button') Click to Start Call2Arms
		table.notes(style="margin-top: 20px; width: 752px;")
			tr
				td(data-intro="If you're Raid Leader, enter Raider Callsign here and send message to Raider...", data-step='2', style='width: 375px; padding-left: 40px; padding-right: 35px;')
					h1
						img(src='/img/crown.png', style='margin-right: 7px; margin-bottom: 10px;')
						| For Raid Leaders
					div(ng-controller="LoadCtrl", ng-show='isViewLoading', style="padding: 62px;")
						img(src='/img/preloader.gif', style='margin-right: 1em')
						| Loading...
					div(ng-view)
					ol
						li Enter Raider <b>CallSign</b>
						li Click <b>Summon</b> ( if you ready to raiding ) <br />or send <b>Message</b> to the raider
						li Wait for response from the raider
						li(style='color: #c00;') Defeat the bosses and take epics!
				td(data-intro="If you're Raider, register Callsign by using web application and tell it to Raid Leader", data-step='1', style='width: 375px; padding-right: 40px; padding-left: 35px;')
					h1
						img(src='/img/swords.png', style='margin-right: 7px; margin-bottom: 5px;')
						| For Raiders
					a.appBtn(href='https://play.google.com/store/apps/details?id=net.call2arms.mobile', style='margin-right: -2px;', target='_blank')
						img(class='google-play-store-logo', src='/img/Google_Play_Store_48.png', float='left')
						| Download for Android
					a.appBtn(href='http://m.call2arms.net', style='margin-right: -2px;')
						img(class='google-play-store-logo', src='/img/html5.png', float='left')
						| Create your CallSign
					div(style='text-align: center; margin-right: -30px;')
						| Register <b>CallSign</b> by using Web Application
						a(href='http://m.call2arms.net')
							img(src="/img/qrcode.png", style="margin: 10px auto 0 auto;")
						br
						a(href='http://m.call2arms.net') http://m.call2arms.net
					
					//-a.appBtn(href='#', style='margin-right: -2px;')
					//-	img(class='google-play-store-logo', src='/img/Google_Play_Store_48.png', float='left')
					//-	| Google Play Store
					//-.addApp
					//-	a(href='#')
					//-		img(src='/img/add.png', style='margin-right: 5px; margin-bottom: 5px;')
					//-		| Add link to your C2A application
					//-	br
					//-	small special offer for mobile and web developers!
		//- img.separator(src='/img/separator.png')
		.hl
		.footer-btns
			a(href='/for-developers/', type='button', class=['btn', 'btn-lg', 'btn-default'], style='border: 1px solid #999;')
				| Special for Developers
			a(href='/press-kit/', type='button', class=['btn', 'btn-lg', 'btn-default'])
				| Press Kit
				i.glyphicon.glyphicon-share-alt(style='margin-left: 10px;')
			button#fb-share-btn(type='button', class=['btn', 'btn-lg', 'btn-default', 'btn-primary'])
				| Share on facebook
				i.glyphicon.glyphicon-thumbs-up(style='margin-left: 10px;')

//-		table.notes
			tr
				th.developers(style='text-align: center'): h1
					img(src='/img/api.png', style='margin-right: 10px; margin-bottom: 10px;')
					| Special Offer for Mobile and Web Developers
			tr
				td.developers(style='padding-left: 0.5em; text-align: center;')
					| Build <b>iOS</b>, <b>Android</b>, <b>Windows Phone</b>, <b>HTML</b> or other application by using:
					div(style='margin: 0.5em 0;') <a href='/doc/'>Call2Arms API Specification</a> and <a href='/developer-agreement'>App Developer Agreement</a>
					| and get it placed in the list above for thousands raiders to download!
//-		.hl
//-		table.notes
			tr
				th.press-kit(style='text-align: center'): h1
					img(src='/img/press-kit.png', style='margin-right: 10px; margin-bottom: 10px;')
					| Press Kit for Call2Arms
			tr
				td.press-kit(style='padding-left: 0.5em; text-align: center;')
					p(style='text-align: center;') Here you can find an array of visual assets (logos) and project description.
					p(style='text-align: center;'): a(href='/press-kit') Go to Press Kit section &rarr;
		.hl
		+contacts()
		+cb_finish()