include partials/mixins/icons.jade
include partials/mixins/share.jade
include partials/mixins/chartbeat.jade
include partials/mixins/contacts.jade
doctype 5
html
	head
		title= 'Call2Arms :: Connecting Raiders'
		+cb_start()
		+icons()
		+og-title-ru()
		meta(name='apple-mobile-web-app-title', content='Raid Leader')
		link(rel='stylesheet', href='/css/style.css')
		link(rel='stylesheet', href='/css/bootstrap.min.css')
		//-link(rel='stylesheet', href='/css/bootstrap-theme.min.css')
		script(data-main='/js/main.min', src='/js/require.min.js')
		meta(name='viewport', content='width=800')
	body()
		#fb-root
		#top
			a#menu-about(href='#') Что это?
			.lang-wrapper
				#polyglotLanguageSwitcher.lang
					form(action='#')
						select#polyglot-language-options
							option#ru(value='ru', selected) Русский
							option#en(value='en') English
			.hl
			img.svg#logo(src='/img/logo-flat-cr.svg', data-fallback-src='/img/logo-flat-cr.png', alt='CALL 2 ARMS')
		#aboutWrap.closeAbout(style='display: none')
			#about
				img#rocket(src='/img/rocket.png')
				a.closeAbout(href="#")
					i.closeWnd.glyphicon.glyphicon-remove-circle
				h1(style="text-align: center;") Before start&hellip;
				h2 Что такое Call2Arms?
				p Call2Arms &mdash; это инструмент для анонимной связи с рейдером,<br /> когда рейд очень долго собирается,<br />а вам некогда скучать у компьютера.
				h2 Когда использовать Call2Arms?
				p &rarr; Когда долго собирается рейд, а вам некогда скучать у компьютера.
				p &rarr; Когда <span class="accent">ВЫ НЕ ХОТИТЕ ждать</span> все это время у компьютера.
				p &rarr; Когда <span class="accent">ВЫ НЕ ХОТИТЕ сообщать</span> другим свой номер телефона, email и т.д.
				p &rarr; Но в то же время <span class="accentBlue">ВЫ ХОТИТЕ быть на связи</span> с рейдом все время.
				p
				p Создайте позывной с помощью приложения и сообщите его рейд-лидеру.
				p Когда рейд будет готов, рейд-лидер отправит вам сообщение через сайт Call2Arms.
				h2 Как использовать Call2Arms?
				table(style="width: 100%;")
					tr
						td(style='width: 50%;')
							p.accent Для Рейд-Лидеров:
							p Введите позывной рейдера. Отправьте ему сообщение и дождитесь ответа.
						td
							p.accent Для Рейдеров:
							p Запустите приложение. Создайте ваш позывной и сообщите его рейд-лидеру.
				p
				p
				p.start(style='margin-top: -20px !important;')
					button.btn.btn-primary.closeAbout(type='button') Запустить Call2Arms
		table.notes(style="margin-top: 20px; width: 752px;")
			tr
				td(data-intro="Если вы Рейд Лидер, введите здесь Позывной рейдера и отправьте ему сообщение...", data-step='2', style='width: 375px; padding-left: 40px; padding-right: 35px;')
					h1
						img(src='/img/crown.png', style='margin-right: 7px; margin-bottom: 10px;')
						| Для Рейд-Лидеров
					div(ng-controller="LoadCtrl", ng-show='isViewLoading', style="padding: 62px;")
						img(src='/img/preloader.gif', style='margin-right: 1em')
						| Загрузка...
					div(ng-view)
					ol
						li Введите <b>Позывной</b> рейдера
						li Нажмите <b>Призвать</b> ( если вы готовы ) <br />или отправьте <b>Сообщение</b> рейдеру
						li Дождитесь ответа от рейдера
						li(style='color: #c00;') Уничтожьте боссов и получите эпики!
				td(data-intro="Если вы Рейдер, зарегистрируйте Позывной используя веб-приложение и сообщите его Рейд Лидеру", data-step='1', style='width: 375px; padding-right: 40px; padding-left: 35px;')
					h1
						img(src='/img/swords.png', style='margin-right: 7px; margin-bottom: 5px;')
						| Для Рейдеров
					a.appBtn(href='https://play.google.com/store/apps/details?id=net.call2arms.mobile', style='margin-right: -2px;', target='_blank')
						img(class='google-play-store-logo', src='/img/Google_Play_Store_48.png', float='left')
						| Скачать для Android
					a.appBtn(href='http://m.call2arms.net', style='margin-right: -2px;')
						img(class='google-play-store-logo', src='/img/html5.png', float='left')
						| Создать позывной
					div(style='text-align: center; font-size: 17px; line-height: 18px; margin-right: -5px;')
						| Создайте <b>Позывной</b> с помощью Web Приложения
						a(href='http://m.call2arms.net')
							img(src="/img/qrcode.png", style="margin: 10px auto 0 auto;")
						br
						a(href='http://m.call2arms.net') http://m.call2arms.net
					
					//-a.appBtn(href='#', style='margin-right: -2px;')
					//-	img(class='google-play-store-logo', src='/img/Google_Play_Store_48.png', float='left')
					//-	| Google Play Store
					//-.addApp
					//-	a(href='#')
					//-		img(src='/img/add.png', style='margin-right: 5px; margin-bottom: 5px;')
					//-		| Add link to your C2A application
					//-	br
					//-	small special offer for mobile and web developers!
		//- img.separator(src='/img/separator.png')
		.hl
		.footer-btns
			a(href='/for-developers', type='button', class=['btn', 'btn-lg', 'btn-default'], style='border: 1px solid #999;')
				| Для разработчиков
			a(href='/press-kit/', type='button', class=['btn', 'btn-lg', 'btn-default'])
				| Пресс-кит
				i.glyphicon.glyphicon-share-alt(style='margin-left: 10px;')
			button#fb-share-btn(type='button', class=['btn', 'btn-lg', 'btn-default', 'btn-primary'])
				| Рассказать на facebook
				i.glyphicon.glyphicon-thumbs-up(style='margin-left: 10px;')
//-		table.notes
			tr
				th.developers(style='text-align: center'): h1
					img(src='/img/api.png', style='margin-right: 10px; margin-bottom: 10px;')
					| Специальное предложение для мобильных<br />и web-разработчиков
			tr
				td.developers(style='padding-left: 0.5em; text-align: center;')
					| Создайте приложение для <b>iOS</b>, <b>Android</b>, <b>Windows Phone</b>, <b>HTML</b> и пр. используя:
					div(style='margin: 0.5em 0;') <a href='/doc/'>Спецификацию API Call2Arms</a> и <a href='/developer-agreement'>Соглашение Разработчика</a>
					| и ссылка на ее загрузку будет размещена на данной странице!
//-		.hl
//-		table.notes
			tr
				th.press-kit(style='text-align: center'): h1
					img(src='/img/press-kit.png', style='margin-right: 10px; margin-bottom: 10px;')
					| Пресс-кит для Call2Arms
			tr
				td.press-kit(style='padding-left: 0.5em; text-align: center;')
					p(style='text-align: center;') В этом разделе мы разместили графические материалы (логотипы) и краткое описание проекта.
					p(style='text-align: center;'): a(href='/press-kit') Перейти в раздел для прессы &rarr;
		.hl
		+contacts()
		+cb_finish()