include partials/mixins/icons.jade
include partials/mixins/share.jade
include partials/mixins/chartbeat.jade
doctype 5
html
	head
		title= 'Call2Arms :: Web Application'
		+cb_start()
		+icons()
		+og-title()
		meta(name='apple-mobile-web-app-title', content='Raider App')
		link(rel='stylesheet', href='/css/style.css')
		link(rel='stylesheet', href='/css/bootstrap.min.css')
		//-link(rel='stylesheet', href='/css/bootstrap-theme.min.css')
		script(data-main='/js/mobile.min', src='/js/require.min.js')
		meta(name='viewport', content='width=400')
	body(class='web-mobile')
		#iOsWarnBar(style='display: none')
			please we have some troubles in <b>iPhone Safari</b>, we're working on it
		.lang-wrapper
			#polyglotLanguageSwitcher.lang
				form(action='#')
					select#polyglot-language-options
						option#en(value='en', selected) English
						option#ru(value='ru') Русский
		div(class='bgDiv')
			#top
				.hl
				img.svg#logo(src='/img/logo-flat-cr.svg', data-fallback-src='/img/logo-flat-cr.png', alt='CALL 2 ARMS')
			div(style="margin: 20px auto; width: 300px;")
				div(ng-controller="LoadCtrl", ng-show='isViewLoading', style="padding: 62px;")
					img(src='/img/preloader.gif', style='margin-right: 1em')
					| Loading...
				div(ng-view)
			table.notes(style="width: 380px;")
				tr
					td(style="border: none;")
						ol
							li Enter Raider <b>CallSign</b> and click <b>Register</b>
							li Tell CallSign to <b>Raid Leader</b>
							li Raid leader will send you <b>Summon Request</b>
							li <b>Accept</b> summon request or send <b>Response Message</b>
							li(style='color: #c00;') Defeat the bosses and take epics!
		#android-add-to-homescreen(style='display: none')
			| For correct application work, add this web app to the home screen. Tap <b>Menu</b> key and then select <strong>Add to homescreen</strong>.
		+cb_finish()