include partials/mixins/icons.jade
include partials/mixins/share.jade
include partials/mixins/chartbeat.jade
doctype 5
html
	head
		title= 'Call2Arms :: Web Application'
		+cb_start()
		+icons()
		+og-title-ru()
		meta(name='apple-mobile-web-app-title', content='Raider App')
		link(rel='stylesheet', href='/css/style.css')
		link(rel='stylesheet', href='/css/bootstrap.min.css')
		//-link(rel='stylesheet', href='/css/bootstrap-theme.min.css')
		script(data-main='/js/mobile.min', src='/js/require.min.js')
		meta(name='viewport', content='width=400')
	body(class='web-mobile')
		#iOsWarnBar(style='display: none')
			есть проблемы при работе в iPhone Safari, мы работаем над этим
		.lang-wrapper
			#polyglotLanguageSwitcher.lang
				form(action='#')
					select#polyglot-language-options
						option#ru(value='ru', selected) Русский
						option#en(value='en') English
		div(class='bgDiv')
			#top
				.hl
				img.svg#logo(src='/img/logo-flat-cr.svg', data-fallback-src='/img/logo-flat-cr.png', alt='CALL 2 ARMS')
			div(style="margin: 20px auto; width: 300px;")
				div(ng-controller="LoadCtrl", ng-show='isViewLoading', style="padding: 62px;")
					img(src='/img/preloader.gif', style='margin-right: 1em')
					| Загрузка...
				div(ng-view)
			table.notes(style="width: 380px;")
				tr
					td(style="border: none;")
						ol
							li Введите <b>Позывной</b> и нажмите <b>Зарегистрировать</b>
							li Сообщите Позывной <b>Рейд-лидеру</b>
							li Рейд-лидер пришлет вам <b>Входящее сообщение</b>
							li <b>Подтвердите</b> входящее сообщение
							li(style='color: #c00;') Уничтожьте боссов и получите эпики!
		#android-add-to-homescreen(style='display: none')
			| Для корректной работы приложения, добавьте его на домашний экран. Нажмите кнопку <b>Меню</b> и затем выберите <strong>Добавить на домашний экран</strong>.
		+cb_finish()