include partials/mixins/icons.jade
include partials/mixins/share.jade
include partials/mixins/chartbeat.jade
include partials/mixins/contacts.jade
doctype 5
html
	head
		title= 'Call2Arms :: Press-Kit'
		+cb_start()
		+icons()
		+og-title()
		link(rel='stylesheet', href='/css/style.css')
		link(rel='stylesheet', href='/css/bootstrap.min.css')
		//-link(rel='stylesheet', href='/css/bootstrap-theme.min.css')
		script(data-main='/js/main.min', src='/js/require.min.js')
		meta(name='viewport', content='width=800')
	body()
		#top
			a#menu-back(href='/') < Back to main
			.lang-wrapper
				#polyglotLanguageSwitcher.lang
					form(action='#')
						select#polyglot-language-options
							option#en(value='en', selected) English
							option#ru(value='ru') Русский
			.hl
			a(href='/')
				img.svg#logo(src='/img/logo-flat-cr.svg', data-fallback-src='/img/logo-flat-cr.png', alt='CALL 2 ARMS')
		table.notes(style='margin-top: 1em')
			tr
				th.press-kit(style='text-align: left'): h1
					img(src='/img/press-kit.png', style='margin-right: 10px; margin-bottom: 10px;')
					| Press Kit for Call2Arms
			tr
				td.press-kit(style='padding-left: 0.5em; text-align: center;')
					p Welcome to the press section for Call2Arms!
					p Here you can find an array of visual assets (logos) and project description.
					.section
						p: a(href='http://www.call2arms.net') http://www.call2arms.net
					p(style='margin-top: 1em;') Standart logo (Connecting Raiders):
					.section
						table
							tr
								td(style='width: 180px')
									img(src='/press-kit/call2arms-cr-160.png')
								td.files
									p ZIP archive:
									p(style='margin-bottom: 1em'): a.file(href='/press-kit/call2arms-cr.all.zip') Download all variants
									p Vector:
									p
										a.file(href='/press-kit/call2arms-cr.svg') SVG format
									p PNG:
									p
										a.file(href='/press-kit/call2arms-cr-1200.png') 1200 x 630
										a.file(href='/press-kit/call2arms-cr-1024.png') 1024 x 538
										a.file(href='/press-kit/call2arms-cr-800.png') 800 x 420
										a.file(href='/press-kit/call2arms-cr-640.png') 640 x 336
									p
										a.file(href='/press-kit/call2arms-cr-512.png') 512 x 269
										a.file(href='/press-kit/call2arms-cr-480.png') 480 x 252
										a.file(href='/press-kit/call2arms-cr-320.png') 320 x 168
										a.file(href='/press-kit/call2arms-cr-240.png') 240 x 126
										a.file(href='/press-kit/call2arms-cr-160.png') 160 x 84
					p(style='margin-top: 1em;') Standart logo:
					.section
						table
							tr
								td(style='width: 180px')
									img(src='/press-kit/call2arms-160.png')
								td.files
									p ZIP archive:
									p(style='margin-bottom: 1em'): a.file(href='/press-kit/call2arms.all.zip') Download all variants
									p Vector:
									p
										a.file(href='/press-kit/call2arms.ai') AI format
										a.file(href='/press-kit/call2arms.svg') SVG format
									p PNG:
									p
										a.file(href='/press-kit/call2arms-2048.png') 2048 x 439
										a.file(href='/press-kit/call2arms-1680.png') 1680 x 360
										a.file(href='/press-kit/call2arms-1280.png') 1280 x 274
										a.file(href='/press-kit/call2arms-1024.png') 1024 x 220
										a.file(href='/press-kit/call2arms-800.png') 800 x 172
									p
										a.file(href='/press-kit/call2arms-640.png') 640 x 137
										a.file(href='/press-kit/call2arms-512.png') 512 x 110
										a.file(href='/press-kit/call2arms-480.png') 480 x 103
										a.file(href='/press-kit/call2arms-320.png') 320 x 69
										a.file(href='/press-kit/call2arms-240.png') 240 x 51
										a.file(href='/press-kit/call2arms-160.png') 160 x 34
					p(style='margin-top: 1em;') Icon logo:
					.section
						table
							tr
								td(style='width: 180px;')
									img(src='/press-kit/call2arms-icon-128.png')
								td.files
									p ZIP archive:
									p(style='margin-bottom: 1em'): a.file(href='/press-kit/call2arms-icon.all.zip') Download all variants
									p Vector:
									p
										a.file(href='/press-kit/call2arms-icon.ai') AI format
										a.file(href='/press-kit/call2arms-icon.svg') SVG format
									p PNG:
									p
										a.file(href='/press-kit/call2arms-icon-512.png') 512 x 512
										a.file(href='/press-kit/call2arms-icon-256.png') 256 x 256
										a.file(href='/press-kit/call2arms-icon-192.png') 192 x 192
									p
										a.file(href='/press-kit/call2arms-icon-128.png') 128 x 128
										a.file(href='/press-kit/call2arms-icon-96.png') 96 x 96
										a.file(href='/press-kit/call2arms-icon-64.png') 64 x 64
										a.file(href='/press-kit/call2arms-icon-32.png') 32 x 32
					p(style='margin-top: 1em;') Project description:
					.section
						p.header What is Call2Arms?
						p Call2Arms is a tool to stay anonymously connected with the raider when raid going too long or raiders take a break.
						p.header When to use it?
						p - When raid going too long or raiders take a break.
						p - When you DO NOT WANT to spend all this time by looking at the monitor.
						p - When you DO NOT WANT others to know your personal phone number, email, e.t.c.
						p - And you WANT to stay connected with the raid, all the time.
						div(style='margin: 1em 0; padding: 1em; text-align: center; border: none; background-color: #1f4e99; color: #fff;')
							| Register callsign and tell it to raid leader. When raid will be ready,
							br
							| Raid Leader will send you the message via Call2Arms.
							br
							br
							| <b>This is completely anonymously.</b>
						p.header How to use it?
						p: i For raid leader:
						p
							ol
								li Open <a href="http://www.call2arms.net">http://www.call2arms.net</a>
								li Enter the raider callsign.
								li Send him a summon request or a message and wait for an answer from him.
						p: i For raiders:
						p
							ol
								li Start the web-application. Open <a href="http://m.call2arms.net">http://m.call2arms.net</a>
								li Register your callsign.
								li Tell your callsign to raid leader.
								li When raid will be ready, raid leader will send a message to you via Call2Arms.
		.hl
		+contacts()
		+cb_finish()