include partials/mixins/icons.jade
include partials/mixins/share.jade
include partials/mixins/chartbeat.jade
include partials/mixins/contacts.jade
doctype 5
html
	head
		title= 'Call2Arms :: Пресс-кит'
		+cb_start()
		+icons()
		+og-title-ru()
		link(rel='stylesheet', href='/css/style.css')
		link(rel='stylesheet', href='/css/bootstrap.min.css')
		//-link(rel='stylesheet', href='/css/bootstrap-theme.min.css')
		script(data-main='/js/main.min', src='/js/require.min.js')
		meta(name='viewport', content='width=800')
	body()
		#top
			a#menu-back(href='/') < На главную
			.lang-wrapper
				#polyglotLanguageSwitcher.lang
					form(action='#')
						select#polyglot-language-options
							option#ru(value='ru', selected) Русский
							option#en(value='en') English
			.hl
			a(href='/')
				img.svg#logo(src='/img/logo-flat-cr.svg', data-fallback-src='/img/logo-flat-cr.png', alt='CALL 2 ARMS')
		table.notes(style='margin-top: 1em')
			tr
				th.press-kit(style='text-align: left'): h1
					img(src='/img/press-kit.png', style='margin-right: 10px; margin-bottom: 10px;')
					| Пресс-кит для Call2Arms
			tr
				td.press-kit(style='padding-left: 0.5em; text-align: center;')
					p Добро пожаловать в раздел для прессы от проекта Call2Arms!
					p В этом разделе мы разместили графические материалы (логотипы) и краткое описание проекта.
					.section
						p: a(href='http://www.call2arms.net') http://www.call2arms.net
					p(style='margin-top: 1em;') Стандартный логотип (Connecting Raiders):
					.section
						table
							tr
								td(style='width: 180px')
									img(src='/press-kit/call2arms-cr-160.png')
								td.files
									p ZIP архив:
									p(style='margin-bottom: 1em'): a.file(href='/press-kit/call2arms-cr.all.zip') Загрузить все варианты
									p Векторный формат:
									p
										a.file(href='/press-kit/call2arms-cr.svg') SVG формат
									p PNG:
									p
										a.file(href='/press-kit/call2arms-cr-1200.png') 1200 x 630
										a.file(href='/press-kit/call2arms-cr-1024.png') 1024 x 538
										a.file(href='/press-kit/call2arms-cr-800.png') 800 x 420
										a.file(href='/press-kit/call2arms-cr-640.png') 640 x 336
									p
										a.file(href='/press-kit/call2arms-cr-512.png') 512 x 269
										a.file(href='/press-kit/call2arms-cr-480.png') 480 x 252
										a.file(href='/press-kit/call2arms-cr-320.png') 320 x 168
										a.file(href='/press-kit/call2arms-cr-240.png') 240 x 126
										a.file(href='/press-kit/call2arms-cr-160.png') 160 x 84
					p(style='margin-top: 1em;') Стандартный логотип:
					.section
						table
							tr
								td(style='width: 180px')
									img(src='/press-kit/call2arms-160.png')
								td.files
									p ZIP архив:
									p(style='margin-bottom: 1em'): a.file(href='/press-kit/call2arms.all.zip') Загрузить все варианты
									p Векторный формат:
									p
										a.file(href='/press-kit/call2arms.ai') AI формат
										a.file(href='/press-kit/call2arms.svg') SVG формат
									p PNG:
									p
										a.file(href='/press-kit/call2arms-2048.png') 2048 x 439
										a.file(href='/press-kit/call2arms-1680.png') 1680 x 360
										a.file(href='/press-kit/call2arms-1280.png') 1280 x 274
										a.file(href='/press-kit/call2arms-1024.png') 1024 x 220
										a.file(href='/press-kit/call2arms-800.png') 800 x 172
									p
										a.file(href='/press-kit/call2arms-640.png') 640 x 137
										a.file(href='/press-kit/call2arms-512.png') 512 x 110
										a.file(href='/press-kit/call2arms-480.png') 480 x 103
										a.file(href='/press-kit/call2arms-320.png') 320 x 69
										a.file(href='/press-kit/call2arms-240.png') 240 x 51
										a.file(href='/press-kit/call2arms-160.png') 160 x 34
					p(style='margin-top: 1em;') Логотип-иконка:
					.section
						table
							tr
								td(style='width: 180px;')
									img(src='/press-kit/call2arms-icon-128.png')
								td.files
									p ZIP архив:
									p(style='margin-bottom: 1em'): a.file(href='/press-kit/call2arms-icon.all.zip') Загрузить все варианты
									p Векторный формат:
									p
										a.file(href='/press-kit/call2arms-icon.ai') AI формат
										a.file(href='/press-kit/call2arms-icon.svg') SVG формат
									p PNG:
									p
										a.file(href='/press-kit/call2arms-icon-512.png') 512 x 512
										a.file(href='/press-kit/call2arms-icon-256.png') 256 x 256
										a.file(href='/press-kit/call2arms-icon-192.png') 192 x 192
									p
										a.file(href='/press-kit/call2arms-icon-128.png') 128 x 128
										a.file(href='/press-kit/call2arms-icon-96.png') 96 x 96
										a.file(href='/press-kit/call2arms-icon-64.png') 64 x 64
										a.file(href='/press-kit/call2arms-icon-32.png') 32 x 32
					p(style='margin-top: 1em;') Описание проекта:
					.section
						p.header Что такое Call2Arms?
						p Call2Arms &mdash; это инструмент для анонимной связи рейдеров,<br /> когда рейд долго собирается или в нем делается перерыв.
						p.header Когда использовать Call2Arms?
						p - Когда долго собирается рейд или рейдеры делают перерыв.
						p - Когда ВЫ НЕ ХОТИТЕ ждать все это время у компьютера.
						p - Когда ВЫ НЕ ХОТИТЕ сообщать другим свой номер телефона, email и т.д.
						p - Но в то же время ВЫ ХОТИТЕ быть на связи с рейдом все время.
						div(style='margin: 1em 0; padding: 1em; text-align: center; border: none; background-color: #1f4e99; color: #fff;')
							| Создайте позывной с помощью приложения и сообщите его рейд-лидеру.
							br
							| Когда рейд будет готов, рейд-лидер отправит вам сообщение через сайт Call2Arms.
							br
							br
							| <b>Все это полностью анонимно.</b>
						p.header Как использовать Call2Arms?
						p: i Для Рейд-Лидеров:
						p
							ol
								li Откройте сайт <a href="http://www.call2arms.net">http://www.call2arms.net</a>
								li Введите позывной рейдера.
								li Отправьте ему сообщение и дождитесь ответа.
						p: i Для Рейдеров:
						p
							ol
								li Запустите web-приложение, открыв <a href="http://m.call2arms.net">http://m.call2arms.net</a>
								li Зарегистрируйте ваш позывной.
								li Сообщите его Рейд Лидеру.
								li Когда рейд будет готов, Рейд-Лидер отправит вам сообщение через Call2Arms.
		.hl
		+contacts()
		+cb_finish()