div(style="position: relative; z-index: 1000")
	.request(ng-show='incoming', class=['animate-show', 'top'])
		.inner
			.panel(class=['panel-default'])
				.panel-heading {{ui.titles.request}}
				.panel-body {{incomingMessage}}
				.panel-footer
					table.btns
						tr
							td: button(ng-click='acceptSummon()',
										type='button',
										class=['btn' ,'btn-primary'], style='padding-left: 0;')
									i(class=['glyphicon', 'glyphicon-flash'])
									| {{ui.response.actions[0].title}}
							td: .btn-group
								button(type='button',
										class=['btn' ,'btn-default', 'dropdown-toggle'], style='padding-right: 0;',
										data-toggle='dropdown')
									| {{ui.buttons.message}}
									i(class=['glyphicon', 'glyphicon-send'])
								ul.dropdown-menu.pull-right(role='menu')
									li(ng-repeat='action in ui.response.actions', ng-show='!$first'): a(ng-click='sendMessage(action.id, action.title)', href='') {{action.title}}
									//-li.divider
									//-li: a(ng-click='sendMessage()', href='') Separated link

div(style="position: relative; z-index: 1000")
	.response(ng-show='answered', class=['animate-show', 'top'])
		.inner
			.panel(class=['panel-default'])
				.panel-heading {{ui.titles.yourResponse}}
				.panel-body
					div(ng-bind-html='answerMessage')
				.panel-footer
					button(ng-click='closeAnswer()', type='button', class=['btn', 'btn-danger', 'btn-xs']) {{ui.buttons.close}}

form#invite(role='form', name='callsignForm')
	.callsignInput()
		input#callsign(ng-model='$parent.callsign',
				ng-enter='register()'
				required,
				ng-minlength='6',
				ng-maxlength='64',
				ng-disabled='registered || processing'
				name='callsign',
				type='text',
				data-toggle='tooltip',
				data-placement='top',
				tooltip='{{ui.callsign.mask}}',
				tooltip-trigger="focus",
				placeholder='{{ui.callsign.placeholder}}',
				class=['form-control', 'input-lg'])
	.alert(class=['alert-danger', 'alert-dismissable', 'animate-show'], ng-show="error")
		button(type='button', class='close', data-hide='alert', aria-hidden='true') &times;
		| {{errorMessage}}
	.status(ng-show='processing', class=['animate-show'])
		.message(ng-bind-html='processedMessage')
		.progress(class=['progress-striped', 'active'])
			.progress-bar(class=['progress-bar-success'],
					role='progressbar',
					aria-valuenow='100',
					aria-valuemin='0',
					aria-valuemax='100',
					style='width: 100%')
			span.sr-only ''
		.message.wait: {{waitMessage}}
	table.btns
		tr(ng-show='!registered')
			td: button(ng-disabled='!callsignForm.callsign.$valid || processing',
					ng-click='register()',
					type='button',
					class=['btn' ,'btn-primary'], style='padding-left: 0;')
				i(class=['glyphicon', 'glyphicon-user'])
				| {{ui.buttons.register}}
		tr(ng-show='registered')
			td: button(ng-click='cancel()',
					ng-disabled='answered'
					type='button',
					class=['btn' ,'btn-danger'], style='padding-left: 0;')
				i(class=['glyphicon', 'glyphicon-remove'])
				| {{ui.buttons.cancel}}

#qrcode.animate-show(ng-show='qrcode')